* {
    margin: 0;
    padding: 0;
}
body, html {
    background-color: #ADD8E6;
    height: 100%;
}
#wrapper {
    display:table;
    overflow:hidden;
    margin:0px auto;
    width: 465px;
    height: 100%;
}
#content-wrapper {
    display:table-cell;
    vertical-align: middle;
}
#content {
    margin-top: 50px;
    margin-bottom: 50px;
}
.white {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 0px;
    height: 100%;
}
a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
a:hover {
    color: #808080;
}
header {
    margin-bottom: 35px;
    margin-top: 5px;
}
h1 {
    text-align: center;
    font-size: 24px;
    color: #083e9e;
    padding-top: 40px;
}
p {
    color: #4a5568;
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
}
form {
    text-align: center;
    padding-left: 3px;
    padding-right: 2px;
}
label {
    font-size: 12px;
    font-weight: bold;
    color: #4a5568;
    float: left;
    margin-left: 50px;
}
input, select {
    height: 40px;
    width: 350px;
    font-size: 16px;
    font-weight: 200;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 30px;
    padding: 10px;
    border: 0px;
    background-color: #EDF2F7;
}
button {
    background-color: #083E9E;
    color: #FFFFFF;
    border: 1px solid #083E9E;
    border-radius: 5px;
    padding: 15px;
    margin: 10px auto;
    height: 40px;
    width: 350px;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom-left-radius: 0px;
}